<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/assests/styles/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/assests/styles/vendor.bundle.base.css">
    <link rel="stylesheet" href="/static/assests/styles/adminstyles.css">
{% block style %}
  
{% endblock style %}
  </head>
  <body>
{% block main_body %}

{% endblock main_body %}
    <script src="/static/assests/js/vendor.bundle.base.js"></script>
    <script src="/static/assests/js/off-canvas.js"></script>
    <script src="/static/assests/js/hoverable-collapse.js"></script>
    <script src="/static/assests/js/misc.js"></script>
    <script src="/static/assests/js/settings.js"></script>
    <script src="/static/assests/js/todolist.js"></script>
  </body>
</html>
